<template name="dismissable">
  {{#if visible}}
    <div class="{{class}}">
      <button type="button" class="close js-dismiss">×</button>
      {{> Template.contentBlock}}
    </div>
  {{/if}}
</template>
